/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* background image style  */
.header_container {
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.8)), url(/img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 90vh;
    width: 100%;
}

/* Navigation bar style */
nav {
    display: flex;
    align-items: center;
    padding: 1% 6%;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}

/* navbar logo */
nav img {
    width: 150px;
}

.nav_links ul li {
    display: inline-block;
    position: relative;
    list-style: none;
    font-size: 1.0.5rem;
}

.nav_links ul li a {
    display: block;
    padding: 2px 15px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.855);
}

#sing_up_btn a {
    background-color: rgb(247, 107, 83);
    border-radius: 11px;

}

#sing_up_btn a:hover {
    background-color: rgb(246, 90, 62);
}

.nav_links ul li a:hover {
    color: #fff;
}

/* Homepage banner section  */
.banner_container {
    align-items: center;
    padding-top: 80px;
    width: 50%;
    margin: auto;
}

.banner-text {
    text-align: center;
    color: #fff;
}

.banner-text h1 {
    font-size: 2rem;
}

.banner-text p {
    font-size: 1.3rem;
    margin: 10px;
}

/* get in touch form */
.form-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 50px;
}

/* get in touch form */
.git_in_touch_form {
    background-color: white;
    border-radius: 8px;
}

.form_text {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 30px 35px;
    text-align: center;
    text-align: justify;
    background-color: rgb(248, 100, 75);
    color: #fff;
}

.form-header {
    display: flex;
    gap: 5px;
}

.form_text h4 {
    font-size: 1.5rem;
    padding-bottom: 5px;
}

.form_text p {
    width: 290px;
    font-size: 1.2rem;
}

/* input section design  */
input,
textarea {
    display: block;
    margin: 10px auto;
    align-items: center;
}

.form-input input {
    width: 300px;
    padding: 13px 20px;
}

.form-input textarea {
    width: 300px;
    height: 100px;
    padding: 13px 20px;
}

.form-input input[type=button] {
    background-color: rgb(237, 100, 76);
    border: none;
    color: #fff;
}

/* banner feature  */
.banner-features {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 12px;
    gap: 15px;
}

.banner-features i {
    font-size: 2rem;
    color: white;
    margin: 16px;
}

.banner-features h4 {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 300;
}

.banner-features p {
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 200;
    color: #fff;
    margin-top: 8px;
}

/* Get More Paying Customers  */
.paying-customers-container {
    width: 60%;
    margin: 70px auto;
    text-align: center;
}

.paying-customers-container h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

.paying-customers-container p {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 15px;
    color: gray;
}

.paying-customers {
    display: flex;
    gap: 25px;
    width: 55%;
    margin: auto;
    justify-content: center;
}

.paying-customers h3 {
    font-size: 1.5rem;
}

.paying-customers p {
    font-size: 1rem;
}

/* conversi work  */
.conversi-work-container {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    gap: 150px;
}

.conversi-work-left img {
    width: 450px;
    height: auto;
}

.conversi-work-righ {
    margin-top: 70px;

}

.conversi-work-righ h6 {
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: gray;
    padding: 5px 0;
    font-weight: 200;
}

.conversi-work-righ h3 {
    font-size: 1.9rem;
    letter-spacing: 2px;
    font-weight: 600;
}

.conversi-work-righ span {
    color: rgb(247, 101, 75);
}

.conversi-work-righ p {
    text-align: justify;
    line-height: 20px;
    margin: 20px 0;
    font-size: 1.1rem;
}

.conversi-work-righ ul {
    list-style-type: none;
}

.conversi-work-righ li {
    text-decoration: none;
    font-size: 1.3rem;
    padding: 15px 0;
}

.conversi-work-righ i {
    margin-right: 15px;
    color: rgb(244, 98, 73);
}

/* Great support  */
.great-support-container {
    display: flex;
    width: 50%;
    margin: 90px auto;
}

.great-support-left {
    margin-top: 120px;
}

.great-support-left h4 {
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 700;
}

.great-support-left h4 span {
    color: tomato;
}

.great-support-left h6 {
    font-size: 1.4rem;
    font-weight: 300;
    padding: 10px 0;
    color: gray;
}

.great-support-left p {
    font-size: 1.1rem;
    font-weight: 100;
    color: rgb(78, 74, 74);
    margin-bottom: 20px;
}

.support-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.support-step h5 {
    font-size: 1.5rem;
    padding-bottom: 5px;
}

.great-support-right img {
    width: 500px;
    height: 500px;
}

/* profile slider  */
.profile-slider {
    text-align: center;
    margin: auto;
    background-color: #F6F8F9;
}

.profile-slider i {
    padding-top: 100px;
    font-size: 5rem;
    color: #DDDDDD;
}

.profile-slider p {
    width: 35%;
    margin: auto;
    padding: 20px;
    font-size: 1.3rem;
    color: #807979;
}

.profile img {
    width: 100px;
    border-radius: 50%;
}

.profile h5 {
    font-size: 1.4rem;
    padding-top: 15px;
}

.profile p {
    padding: 5px;
    font-size: 1rem;
    letter-spacing: 2px;
}

/* cmpany overview  */
.company-overview-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.6)), url(/img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 200px;
}
.element{
    text-align: center;
    font-size: 3rem;
    padding: 50px 0;
}
.element p{
    font-size: 1.5rem;
}
/* Plans and pricing  */
.plans-and-pricing-container{
    width: 50%;
    text-align: center;
    margin: 60px auto;
}
.plans-and-pricing-container h2{
    font-size: 2.5rem;
    padding: 5px;
    font-weight: 300;
    letter-spacing: 2px;
}
.plans-and-pricing-container p {
    font-size: 1.3rem;
    padding: 5px;
    font-weight: 300;
}
.plans-and-prinig-cart{
    width: 60%;
    max-width: 1100px;
    margin: auto;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 30px;
}
.cart{
    border: 2px solid #807979;
}
.cart h3{
    font-size: 2rem;
    text-transform: capitalize;
    padding: 20px;
}
.cart ul{
    list-style-type: none;
}
.cart li{
    font-size: 1.1rem;
    padding: 18px;
}
.cart-btn{
    background-color: rgb(193, 182, 180);
    padding: 30px 0px;
}
.cart-btn a{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-color: tomato;
}
.price-btn{
    background-color: tomato;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cercle{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}


